* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 30px;
}

body > nav {
  background-color: #f10006;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  color: white;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eceb;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover:not(.active) {
  color: #fd8e67;
  background-color: #f10006;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid white;
  text-align: center;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #2CB3B8;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}


#add-review-form,
#add-soundtrack-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-performer-form input[type="submit"] {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748;
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 80%;
  border: 2px solid #b8c0c2;
  border-radius: 0.5rem;
  margin: 0.5rem 0 2rem;
}

.badge {
  background-color: #b8c0c2;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}

.indexWrapper {
  background-image: url("/images/main.jpeg");
  width: 100%;
  height: 100%;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLetters {
  background-color: black;
  max-width: 400px;
  height: 70%;
  color: white;
  padding: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  place-items: center;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em black;
  outline: 0.8em solid black;
  overflow-y: scroll;
}

.boxLetters5 {
  background-color: white;
  width: 400px;
  height: 300px;
  background-color: #f10006;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em #f10006;
  outline: 0.8em solid #f10006;
}

.boxLetters3 {
  background-color: white;
  width: 400px;
  height: 300px;
  background-color: #f10006;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  border-radius: 0.8em;
  box-shadow: 0 0 0 0.4em #f10006;
  outline: 0.8em solid #f10006;
}

.boxLetters2 {
  background-color: #61255e;
  color: white;
  box-shadow: 0 0 0 0.4em #61255e;
  outline: 0.8em solid #61255e;
  width: 80%;
  height: 80%;
}

.indexWrapper2 {
  background-image: url("/images/soundtrack.jpg");
  width: 100%;
  height: 100%;
}

.indexWrapper3 {
  background-image: url("/images/soundtracks.jpeg");
  text-align: center;
}
.indexWrapper4 {
  background-image: url("/images/soundtrack.jpeg");
  text-align: center;
}
.indexWrapper5 {
  background-image: url("/images/film.png");
  text-align: center;
}

.itemWrapper6 {
  background-image: url("/images/logo.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.card-text {
  text-align: center;
}

.video {
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
}


footer {
  height: 60px;
  text-align: center;
  font-size: 5px;
  background-color: black;
  color: white;
}

.details {
  margin: 3px;
  background-color: white;
  border: .3vmin solid #2cb3b8;
  border-radius: 4vmin;
  font-size: 10px;
  outline: none;
  font-weight: bold;
  font-size: 12px;
  color: #f10006;
}
.details:hover {
  background-color: #f10006;
  color: white;
}

.addFilm {
  font-size: 25px;
}

.addSound {
  margin: 3px;
  background-color: white;
  color: white;
  border: 1vmin solid #2cb3b8;
  border-radius: 4vmin;
  font-size: 10px;
  outline: none;
  font-weight: bold;
}

.addSound:hover {
  background-color: white;
  color: white;
}

a {
  color: #2CB3B8
}

a:hover {
  background-color: #2cb3b8;
  color: white;
}

.container {
  overflow-y: scroll;
}
.container2 {
  overflow: scroll;
}

iframe {
  /* width: 80%; */
}

