<%- include('../partials/header', {title: 'Edit Review - FILMU' }) %>
  <div class="indexWrapper6 flex-ctr">
    <div class="boxLetters boxLetters4">
      <form action="/reviews/<%= review._id %>?_method=PUT" method="POST">
        <input name="content" value="<%= review.content %>">
        <button type="submit">UPDATE REVIEW</button>
      </form>

      <p class="card-text"><small class="text-muted">I love the smell of Filmu in the morning.</small></p>

    </div>
  </div>
  <%- include('../partials/footer') %>