<%- include('../partials/header') %>

<div class='indexWrapper'>
  <div class='boxLetters'>

    <% films.forEach(function(f) { %>
      
      
      <tr>
        <td><%= f.title %></td>
     <div class="details">  <td><a href="/films/<%= f._id %>">DETAILS</a></td></div> 
      </tr>
      <% }); %>
    </tbody>
  </table>
  
  <p class="card-text"><small class="text-muted">You had me at Filmu.</small></p>
  
  
  </div>
</div>

<%- include('../partials/footer') %>
