<%- include('../partials/header') %>

  <div class='indexWrapper flex-ctr'>
    <div class='boxLetters'>
      <% films.forEach(function(f) { %>
        <table>
          <tr>
            <td>
              <%= f.title %>
            </td>
            <td><a href="/films/<%= f._id %>">DETAILS</a></td>
          </tr>
          <% }); %>
            </tbody>
        </table>
        <p class="card-text"><small class="text-muted">You had me at Filmu.</small></p>
    </div>
  </div>
  <%- include('../partials/footer') %>