<%- include('../partials/header') %>
  <div class="indexWrapper4 flex-ctr">
    <div class="boxLetters boxLetters3">
      <h1>ADD FILM</h1>
      <div class="addFilm2">
        <form id="new-form" action="/films" method="POST">
          <label>Title:</label>
          <input type="text" name="title">
          <label>Year:</label>
          <input type="text" name="releaseYear">
          <button class="butSound" type="submit">ADD FILM</button>
        </form>
        <p class="card-text"><small class="text-muted">Here's looking at you, Filmu!</small></p>
      </div>
    </div>

    <%- include('../partials/footer') %>