
<%- include('../partials/header') %>

<form id="new-form" action="/films" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Director:</label>
    <input type="text" name="title">
    <label>Release Year:</label>
    <input type="number" name="releaseYear">
    <label>Starring:</label>
    <input type="text" name="cast">
    </select>
    <input type="submit" value="Add Film">
  </form>

<%- include('../partials/footer') %>
