
<%- include('../partials/header') %>

<form id="new-form" action="/films" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <input type="submit" value="Add Film">
  </form>

<%- include('../partials/footer') %>
