<%- include('../partials/header') %>

section id="show-page">
  <div>Title: </div>
  <div><%= film.title %></div>
  <ul>
    
    <% if (user) { %>
      <button><a href='/films/<%= film._id %>/soundtracks/new'></a>Add Soundtrack</button>
    <% } %>

  <%- include('../partials/footer') %>
