<%- include('../partials/header') %>

  <div class="indexWrapper3 flex-ctr">
    <div class="boxLetters boxLetters3">
      <h3>ADD SONG</h3>
      <form id="add-soundtrack-form" action="/films/<%= filmId %>/soundtracks" method="POST">
        <label>Song:</label>
        <input type="text" name="songTitle">
        <label>Artist:</label>
        <input type="text" name="artistName">
        <label>Music URL:</label>
        <input type="text" name="trackUrl">
        <button class="butSound" type="submit">ADD SONG</button>
      </form>
      <p class="card-text"><small>May the Filmu be with be with you!</small></p>
    </div>
  </div>

  <%- include('../partials/footer') %>