
<%- include('../partials/header') %>



  <div class="card text-bg-dark">
    <img src="/images/soundtracks.jpeg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">ADD MUSIC</h5>
      <p class="card-text"><form id="add-soundtrack-form" action="/films/<%= filmId %>/soundtracks" method="POST">
        <label>Song:</label>
        <input type="text" name="song"><br>
        <label>Artist:</label>
        <input type="text" name="artist"><br>
        <label>Music Url:</label>
        <input type="text" name="trackUrl"> <br>
        <input type="submit" value="Add Soundtrack">
      </form></p>
      <p class="card-text"><small>May the Filmu be with be with you</small></p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
